<div class="container-fluid bg-light pt-3 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 d-flex flex-column justify-content-between footer__contents">
                <h4 translate>{{"FOOTER.footer_title"}}</h4>
                <p translate>{{"FOOTER.copyright"}}</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 footer__contents">
                <ul>
                    <li><a class="footer__title" href="#" translate>{{"FOOTER.order"}}</a> </li>
                    <li><a href="#" translate>{{"FOOTER.delivery"}}</a> </li>
                    <li><a href="#" translate>{{"FOOTER.payment"}}</a> </li>
                    <li><a href="#" translate>{{"FOOTER.retake"}}</a> </li>
                    <li><a href="#" translate>{{"FOOTER.personal"}}</a>  </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 footer__contents">
                <ul>
                    <li><a class="footer__title" href="#" translate>{{"FOOTER.second_title"}}</a> </li>
                    <li><a href="#" translate>{{"FOOTER.company"}}</a>  </li>
                    <li><a href="#" translate>{{"FOOTER.agreement"}}</a>  </li>
                    <li><a href="#" translate>{{"FOOTER.guarantee"}}</a>  </li>
                    <li><a href="#" translate>{{"FOOTER.cashback"}}</a>  </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-12 footer__contents">
                <ul>
                    <li><a class="footer__title" href="#" translate>{{"FOOTER.contacts"}}</a> </li>
                    <li><a href="#">+7 (926) 223-10-11</a>  </li>
                    <li><a href="#" translate>{{"FOOTER.address"}}</a> </li>
                    <li><a href="#"> Ng-Zorro</a>  </li>
                    <li><a href="#"> Bootstrap 5</a>  </li>
                </ul>
            </div>
        </div>
    </div>
</div>


















